<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post In Details</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <div class="post" >
        <h1>Here Is Your Post In Detail</h1>
        <h3 class="username">Username: @<%= post.username %> <br> ID: <%= post.id %></h3>
        <h4 class="content">Your Content: <br><%= post.content %></h4>
        <b><a href="http://localhost:8080/posts" >View All Posts</a></b>
    </div>
</body>
</html>